.browser-shots-gutenberg-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.browser-shots-gutenberg-wrapper {
  &.aligncenter {
    float: none;
    .browser-shot {
      text-align: center;
    }
  }
  &.alignleft {
    float: none;
    .browser-shot {
      text-align: left;
    }
  }
  &.alignright {
    float: none;
    .browser-shot {
      text-align: right;
    }
  }
}